@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700;900&display=swap");
body, h2, h3, ol, ul {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover:focus {
  text-decoration: underline;
}

body {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.header__logo {
  font-family: "Shrikhand", serif;
  font-size: 2rem;
}

.more__logo {
  font-family: "Shrikhand", serif;
  font-size: 1.1rem;
}

header {
  margin-top: 10px;
}

.header__logo {
  margin: 0;
  padding: 5px 10px;
  text-align: center;
}

.intro {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
.intro__location {
  background-color: #eaeaea;
  box-shadow: inset 0 2px 2px #ccc;
  margin: 0 0 0 -30px;
  padding: 15px 0;
  font-weight: 500;
  font-size: 0.98rem;
}
.intro__location .fas {
  padding-right: 10px;
}
.intro__headline {
  margin: 40px 50px 0 50px;
  font-size: 1.5rem;
  font-weight: 700;
}
.intro__tagline {
  font-size: 1.1rem;
}
.intro__explore {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 16px 20px;
  background: linear-gradient(#ff79da, #9356dc);
  border: 0;
  border-radius: 25px;
  box-shadow: 0 5px 10px #ccc;
}
.intro__explore:hover, .intro__explore:focus {
  background: #9356dc;
}

.howto {
  padding: 50px 20px;
}
.howto__title {
  font-size: 1.5rem;
}
.howto__steps {
  counter-reset: item;
  list-style-type: none;
}
.howto__steps li {
  counter-increment: item;
  font-weight: 500;
  background: #f6f6f6;
  box-shadow: 0 5px 10px #ccc;
  border-radius: 25px;
  margin: 12px 0 12px 5px;
  padding: 30px 30px;
}
.howto__steps li span {
  font-size: 1.2rem;
  color: #666;
  width: 40px;
}
.howto__steps li:last-of-type {
  background: #f2eafb;
}
.howto__steps li:last-of-type span {
  color: #9356dc;
}
.howto__steps li::before {
  content: counter(item) "";
  color: #fff;
  background: #9356dc;
  font-size: 0.9rem;
  margin: 0 20px 0 -36px;
  border-radius: 50px;
  padding: 3px 8px;
}

.restaurants {
  padding: 50px 20px;
  background-color: #f6f6f6;
}

.card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 10px #ddd;
  position: relative;
  margin: 12px 0;
}
.card--new::after {
  content: "Nouveau";
  color: #2b987d;
  background: #99e2d0;
  border-radius: 2px;
  padding: 5px 10px;
  width: min-content;
  font-weight: 700;
  position: absolute;
  font-size: 0.9rem;
  top: 15px;
  right: 15px;
  z-index: 2;
}
.card__illu {
  width: 100%;
  height: 174px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  object-position: 50% 50%;
}
.card div {
  padding: 15px;
}
.card__name {
  font-weight: 700;
}
.card__place {
  font-size: 1.1rem;
  margin: 5px 0;
}
.card__fav {
  font-size: 1.4rem;
  position: absolute;
  top: 190px;
  right: 15px;
}
.card__fav:hover span {
  visibility: hidden;
}
.card__fav::before {
  background: linear-gradient(to bottom, #9356dc, #ff79da);
}
.card__fav:hover::before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.more {
  color: #fff;
  background-color: #353535;
  padding: 5px 20px 40px 20px;
}

.listing {
  list-style-type: none;
}
.listing a {
  color: #fff;
  font-size: 0.96rem;
}
.listing__links {
  line-height: 1.6;
}
.listing__links--top {
  font-weight: 500;
  line-height: 1.6;
}
.listing__links--top span {
  font-size: 0.9rem;
  width: 30px;
}

/*# sourceMappingURL=style.css.map */
