.card {
    position: relative;
    background-color: $color-lightest;
    border-radius: map-get($radius-cards, outer);
    box-shadow: 0 5px 10px lighten($color-darkest, 80%);
    margin: 12px 0;
        &:hover {
            box-shadow: 0 5px 10px lighten($color-darkest, 75%);
            transition: box-shadow 100ms ease-in;
        }
        &--new::after { // label for new restaurants
            content: "Nouveau";
            position: absolute;
            top: 15px;
            right: 15px;
            background: $color-tertiary;
            border-radius: map-get($radius-cards, element);
            font-weight: 700;
            font-size: 0.9rem;
            color: darken($color-tertiary, 36%);
            padding: 5px 10px;
            width: 58px;
        }
        &__illu {
            object-fit: cover;
            object-position: 50% 60%;
            border-radius: map-get($radius-cards, outer) map-get($radius-cards, outer) 0 0;
            height: 174px;
            width: 100%;
        }
        & div {
            padding: 15px;
        }
        &__name {
            font-weight: 700;
        }
        &__place {
            font-size: 1.1rem;
            margin: 5px 0;
        }
        &__fav {
            position: absolute;
            top: 190px;
            right: 15px;
            font-size: 1.4rem;
            cursor: pointer;
                &:hover span, &:focus span {
                    opacity: 0;  // base icon disappear on state modification,
                    transition: opacity 100ms ease-in;
                }
                &:hover::before, &:focus::before {
                    @include fav-heart; // on state modification, the colored icon is displayed
                }
        }
}