.more {
    color: $color-lightest;
    background-color: $color-dark-bkgd;
    padding: 5px 20px 40px 20px;
}

.listing {
    list-style-type: none;
        & a {
            color: $color-lightest;
            font-size: 0.96rem;
                &:hover {
                text-decoration: underline dotted;
                }
        }
        &__links {
            line-height: 1.6;
                &--top {
                    font-weight: 500;
                    line-height: 1.6;
                        & span {
                            font-size: 0.9rem;
                            width: 30px;
                        }
                }
        }
}