.top {
    margin-top: 10px;
        &__spinner {
            margin-top: -10px;
            text-align: center;
            color: $color-lightest;
            position: absolute;
            z-index: 2;
            background-color: darken($color-primary, 10%);
            height: 90vh;
            width: 100%;
            animation: spin-move 1800ms ease-in-out 0s both;
                & span {
                    margin-top: 36vh;
                    display: inline-block;
                    animation: spin-effect 100ms ease-in-out 1000ms;
                    animation-iteration-count: 3;
                    animation-direction:alternate;
                }
        }
        &__logo {
            margin: 0;
            padding: 5px 10px;
            text-align: center;
        }
}