.top {
    margin-top: 10px;
        & a {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
        }
        &__spinner {
            margin-top: -10px;
            text-align: center;
            color: $color-lightest;
            position: absolute;
            z-index: 2;
            background-color: darken($color-primary, 10%);
            height: 90vh;
            width: 100%;
            animation: spin-move 1800ms ease-in-out 0s both;
                & span {
                    margin-top: 36vh;
                    display: inline-block;
                    animation: spin-effect 100ms ease-in-out 1000ms;
                    animation-iteration-count: 3;
                    animation-direction:alternate;
                }
        }
        &__home {
            font-size: 1.2rem;
            padding: 15px 0 0 25px;
            flex: 0 1 auto;
            @include tablet-type {
                font-size: 1.8rem;
                padding-top: 20px;
            }
            @include desktop-type {
                font-size: 2.2rem;
                padding-top: 30px;
            }
        }
        &__logo {
            margin: 0;
            padding: 5px 10px;
            text-align: center;
            flex: 1 1 100%;
                &--menu {
                    margin-left: -42px;
                    @include tablet-type {
                        margin-left: -50px;
                    }
                    @include desktop-type {
                        margin-left: -56px;
                    }
                }
        }
}