.intro {
    text-align: center;
    background-color: $color-light-bkgd;
    padding-bottom: 50px;
        &__location {
            background-color: darken($color-light-bkgd, 5%);
            box-shadow: inset 0 2px 4px darken($color-light-bkgd, 20%);
            margin: 0 0 0 -30px;
            padding: 15px 0;
            font-size: 0.98rem;
            font-weight: 500;
            @include tablet-type {
                font-size: 1.05rem;
            }
            @include desktop-type {
                font-size: 1.1rem;
            }
                & .fas {
                    padding-right: 10px;
                }
        }
        &__headline {
            margin: 40px 50px 0 50px;
            font-size: 1.5rem;
            font-weight: 700;
            @include tablet-type {
                font-size: 1.75rem;
            }
            @include desktop-type {
                font-size: 2rem;
            }
        }
        &__tagline {
            font-size: 1.1rem;
            padding: 0 35px;
            @include tablet-type {
                font-size: 1.25rem;
            }
            @include desktop-type {
                font-size: 1.4rem;
            }
        }
}

.howto {
    padding: 50px 20px;
    margin: 0 auto;
    @include tablet-type {
        max-width: 80%;
        max-width: 600px;
    }
    @include desktop-type {
        width: 60%;
        max-width: 800px;
    }
        &__title {
            font-size: 1.5rem;
        }
        &__steps {
            counter-reset: item;
            list-style-type: none;
                & li {
                    counter-increment: item;
                    font-weight: 500;
                    background: $color-light-bkgd;
                    box-shadow: 0 5px 10px darken($color-light-bkgd, 10%);
                    border-radius: 25px;
                    margin: 12px 0 12px 5px;
                    padding: 30px 30px;
                    @include tablet-type {
                        font-size: 1.125rem;
                    }
                    @include desktop-type {
                        font-size: 1.25rem;
                    }
                        & span {
                            color: lighten($color-dark-bkgd, 20%);
                            font-size: 1.2rem;
                            width: 40px;
                        }
                        &:hover {
                            background: lighten($color-primary, 35%);
                                & span {
                                    color: $color-primary;
                                }
                        }
                }
                & li::before {
                    content: counter(item) "";
                    color: $color-lightest;
                    font-size: 0.9rem;
                    background: $color-primary;
                    border-radius: 50px;
                    margin: 0 20px 0 -36px;
                    padding: 3px 8px;
                }
        }
}

.restaurants {
    padding: 50px 20px;
    background-color: $color-light-bkgd;
        > h2 {
            margin: 0 auto;
            @include tablet-type {
                padding-bottom: 10px;
                font-size: 1.75rem;
            }
            @include desktop-type {
                max-width: 1280px;
                padding-bottom: 20px;
                font-size: 2rem;
            }
        }
        &__wrapper {
            margin: 0 auto;
            @include tablet-type {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
            }
            @include desktop-type {
                max-width: 2600px;
            }
            & a {
                @include tablet-type {
                    display: block;
                    flex: 1 1 48%;
                    margin: 0 1%;
                }
                @include desktop-type {
                    max-width: 590px;
                }
            }
        }
}