.intro {
    text-align: center;
    background-color: $color-light-bkgd;
    padding-bottom: 50px;
        &__location {
            background-color: darken($color-light-bkgd, 5%);
            box-shadow: inset 0 2px 4px darken($color-light-bkgd, 20%);
            margin: 0 0 0 -30px;
            padding: 15px 0;
            font-size: 0.98rem;
            font-weight: 500;
                & .fas {
                    padding-right: 10px;
                }
        }
        &__headline {
            margin: 40px 50px 0 50px;
            font-size: 1.5rem;
            font-weight: 700;
        }
        &__tagline {
            font-size: 1.1rem;
        }
}

.howto {
    padding: 50px 20px;
        &__title {
            font-size: 1.5rem;
        }
        &__steps {
            counter-reset: item;
            list-style-type: none;
                & li {
                    counter-increment: item;
                    font-weight: 500;
                    background: $color-light-bkgd;
                    box-shadow: 0 5px 10px darken($color-light-bkgd, 10%);
                    border-radius: 25px;
                    margin: 12px 0 12px 5px;
                    padding: 30px 30px;
                        & span {
                            color: lighten($color-dark-bkgd, 20%);
                            font-size: 1.2rem;
                            width: 40px;
                        }
                        &:last-of-type {
                            background: lighten($color-primary, 35%);
                                & span {
                                    color: $color-primary;
                                }
                        }
                }
                & li::before {
                    content: counter(item) "";
                    color: $color-lightest;
                    font-size: 0.9rem;
                    background: $color-primary;
                    border-radius: 50px;
                    margin: 0 20px 0 -36px;
                    padding: 3px 8px;
                }
        }
}

.restaurants {
    padding: 50px 20px;
    background-color: $color-light-bkgd;
}


/* Menu pages */

.decor {
    position: relative;
    z-index:-1;
        & img {
            object-fit: cover;
            width: 100%;
        }
}

.courses {
    margin-top: -50px;
    padding: 30px 12px;
    background: $color-light-bkgd;
    border-radius: 36px 36px 0 0;
    z-index: 1;
        &__place {
            margin: 0;
            padding: 0 5px;
        }
        &__dishes {
            width: 80px;
            position: relative;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 300;
            margin-top: 30px;
            padding: 8px 5px;
                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 5px;
                    content: "";
                    border-bottom: 3px solid $color-tertiary;
                    width: 40px;
                }
        }
}

.dish {
    background: $color-lightest;
    border-radius: 15px;
    box-shadow: 0 0 10px lighten($color-darkest, 80%);
    position: relative;
    display: flex;
    flex-flow: row wrap;
    margin: 15px 0;
    height: 60px;
    width: 100%;
        &__desc {
            padding: 8px;
            line-height: 1.375rem;
            & h3 {
                font-size: 1.1rem;
                font-weight: 500;
            }
            & p {
                font-size: 0.9rem;
                margin: 0;
            }
        }
        &__slide {
            text-align: center;
            position: absolute;
            top:0;
            right: 0;
            display: flex;
            flex-flow: row wrap;
            align-items: flex-end;
                &::before {
                    content:"";
                    opacity: 0;
            }
        }
        &__price {  
            transition: width 640ms ease-in;
            font-weight: 900;
            width: 80px;
            margin: 0;
            background: $color-lightest;
            border-radius: 0 15px 15px 0;
            padding-bottom: 10px;
        }
        &__check {
            background-color:#99E2D0;
            border-radius: 0 15px 15px 0;
            height: 60px;
            overflow: hidden;
            transition: width 420ms ease-in;
            width: 0;
            display: flex;
            justify-content: center;
            align-items: center;
                & span {
                    color: $color-lightest;
                    font-size: 1.4rem;
                }
        }
        &:hover .dish__slide {
            background: linear-gradient(0.25turn, transparent, $color-lightest 2%, $color-lightest);
            border-radius: 0 15px 15px 0;
        }
        &:hover .dish__slide::before {
            content: "...";
            font-weight: 400;
            width: 30px;
            opacity: 1;
            transition: opacity 1000ms ease-in-out;
            padding-bottom: 10px;
        }
        &:hover .dish__check {
            width: 80px;
                & span {
                    cursor: pointer;
                    transform: rotate(1turn);
                    transition: transform 500ms;
                }
        }
}

.order {
    background: $color-light-bkgd;
    text-align: center;
    padding-bottom: 80px;
}